html {
  font-size: 1vw;
}

body {
  background-color: white;
  font-family : 'Open Sans', sans-serif;
}

/* nav bar */

.navbox {
  display: inline-flex;
  flex: auto;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 94%;
  padding-left: 0;
}

.navbox li {
  list-style: none;
  white-space: nowrap;
}

.navbox img {
  max-width: 100%;
  min-width: 250px;
  padding-left: 10px;
  margin-right: 2em;
}

.navbox a {
  font-size : 1.4em;
  font-weight: 600;
  color : #339900;
  padding-left: 1.8em;
  text-align: center;
  text-decoration: none
}

.pages {
  margin-left: 1em;
}

/* slideshow */

#slideshow {
  position: relative;
  padding: 0;
  height: 40em;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

h1.company-name {
  font-size: 10em;
  color: white;
  margin: 5% 0 0 0;
}

h1.other {
  font-size: 5em;
  font-weight: 600;
  color: white;
  font-family: inherit;
  padding: 0;
  margin:  5% 0 0 0;
}

li.slide p {
  width: 60%;
  font-size: 2em;
  color: white;
  font-family: inherit;
  text-align: justify;
  padding-left: 19%;
}

.slide:nth-of-type(1) {
  background-image: url("../imgs/bkgds/vietnam-fit.jpg");
  background-position: center;
  background-color: #339900;
}

.slide:nth-of-type(2) {
  background-image: url("../imgs/bkgds/da-lat-3059529.jpg");
  background-position: center;
  background-color: #339900;
}

.slide:nth-of-type(3) {
  background-image: url("../imgs/bkgds/landscape-fit.jpg");
  background-position: center;
  background-color: #339900;
}

.slide:nth-of-type(4) {
  background: url("../imgs/bkgds/salt-fit.jpg") no-repeat;
  background-position: center 40%;
  background-color: #339900;

}

/* featured products */

h1 {
  font-size : 3rem;
  font-weight: 600;
  color : #339900;
  margin: 1em auto 1.2em auto;
  text-align: center;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  justify-content: space-around;
  align-items: center;
  /*border-style: dashed;
  border-color: #339900;*/
  width: 90%;
  margin: 3% auto;
}

.row_box {
  width: 50%;
  height: 60%;
  /*background-color: red;*/
  padding: 3%;
}

.img-circle {
    border-radius: 50%;
    background-color: white;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

/* buttons */

.btn {
  border-style : Solid;
  border-color : #339900;
  border-width : .118em;
  text-decoration: none;
  font-size: 1em;
  color: #339900;
}

.btn:hover {
  color: white;
  background-color: #339900;
}

.btn--small {
  -webkit-border-radius : 1em;
  -moz-border-radius : 1em;
  border-radius : 1em;
  padding: 1% 2%;
}

.btn--big {
  -webkit-border-radius : 1em;
  -moz-border-radius : 1em;
  border-radius : 1em;
  border-color: #339900;
  color: #339900;
  font-size: 1.8em;
  border-width : .118em;
  white-space: nowrap;
  padding: 2% 4%;
}

a.btn--product {
  margin: 3%;
}

/* index info boxes */

.container_squares_index {
  margin-top: 5%;
}

.container-info {
  display: flex;
  flex-flow: row nowrap;
  flex: initial;
  justify-content: center;
  /*border-style : Solid;
  border-color : #339900;
  border-width : 1px;*/
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  /*border-style : Solid;
  border-color : #339900;
  border-width : 1px;*/
  font-size: 1.4em;
  width : 50%;
  position: relative;
  overflow: hidden;
  background-size: cover;
}

.box::before {
  content: "";
  float: left;
  padding-top: 100%;
}

img.box_img1 {
  width: 150%;
  margin-left: -100px;
}

img.box_img2 {
  width: 150%;
  margin-left: -150px;
}

.box_content {
  position: absolute;
  left: 10%;
  right: 10%;
  /*top: 5%;
  bottom: 5%;*/
}

.box_content h2 {
  color: #339900;
  margin-top: 0;
}

.box_content p {
  font-size: 1.1em;
  margin: 8% 0% 10%;
}

/* why organic info boxes */

.container_squares_outline, .box_outline {
  border-color: #339900;
  border-style: solid;
}

.container_squares_outline {
  border-width: .2em 0 0 .2em;
}

.box_outline {
  border-width: 0 .2em .2em 0;
}

/*.box_hover a {
  display: flex;
  justify-content: center;
  align-items: center;
  width : 50%;
  position: relative;
  border-width: medium;
  border-color: black;
}*/

.box_hover:hover {
  background-color: #339900;
}

.box_hover:hover > .box_content_org p {
  color: white;
}

.box_hover:hover > .box_content_org h2 {
  color: white;
}

.box_content_org {
  position: absolute;
  left: 10%;
  right: 10%;
  /*top: 5%;
  bottom: 5%;*/
}

.box_content_org h2 {
  color: #339900;
}

.box_content_org p {
  color: black;
  font-size: 1.1em;
  margin: 8% 0% 10%;
}

/* products info boxes */

.box_content-prod {
  text-align: left;
  line-height: 5.5em;
  margin-left: auto;
}

.box_content-prod ul {
  list-style: initial;
  color: #339900;
}

.box_content-prod a {
  text-decoration: none;
  color: #339900;

}

.box_content-prod a:hover {
  text-decoration: underline;
}

/* buttons */

.btn__row {
  display: inline-flex;
  flex: auto;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 94%;
  white-space: nowrap;
  margin: auto;
}

.btn__row li {
  list-style: none;
}

ul.btn__row {
  padding: 2%;
}

/* Q&A */

.qa {
  padding: 0 10% 10% 10% ;
}

/* footer */

footer {
  display: flex;
  justify-content: flex-start;
  background-color: #339900;
  font-size: 1em;
  color: white;
}

footer ul {
  padding-left: 0;
  margin-left: -5%;
}

.footer_nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.footer_nav a {
  text-decoration: none;
  color: inherit;
  margin-right: -5%;
  text-align: center;
}

.footer_contact ul{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  list-style: none;
}

footer li {
  margin: 1% 5%;
}

.footer_contents {
  margin: 3%;
  padding-left: 7%;
}

div.legal {
  position: relative;
  float: right;
  width: 30%;
}

.legal span {
  font-size: .8em;
  position: absolute;
  right: 0;
  bottom: 5%;
}

/* products tables */

.mainbody {
  margin: 0 10%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

td {
  border: 2px solid black;
  padding: 1.2em;
  text-align: left;
}

.modal img {
  float: right;
  width: 50%;
  height: auto;"
}

.desc {
  font-size: 1.4em;
  line-height: 1.5em;
  font-weight: 400;
}

.desc_title {
  font-weight: bold;
}

.itemList {
  margin-bottom: 5%;
}

/* contact stuff */

.contact {

}

.contact p {
  font-size: 1.4em;
}

/*@media only screen and (max-width: 400px) {
  body {font-size: 70%;}
}*/
/*
@media only screen and (max-width: 800px) {
  body {font-size: 80%;}
}

@media only screen and (max-width: 1200px) {
  body {font-size: 100%;}
}*/
/*
@media only screen and (min-width: 1200px) {
  body {font-size: 120%;}
  .box {max-width: 600px}
}*/
